<div class="blog-header">
  <h1 class="blog-title">How To Family Search</h1>
  <p class="lead blog-description">A guide on how to use FamilySearch.org and other tools</p>
</div>

<%= image_tag "happy-family.jpg", class: "img-thumbnail img-responsive splash-image" %>
<p>Doing family research can be daunting, especially if you don't know what tools are available.</p>
<p>This website provides you with the tools available to become successful at doing family history research and offers simple guides to get going on each tool.</p>
<p>Below you will find a list of tutorials on different tools available.</p>

<hr/>

<%= link_to image_tag("family_search_logo.png", class: "img-responsive img-center"), family_search_path %>
<p>
  FamilySearch.org is a free LDS church family history website. Build a collaborating tree, search, and add sources, photos and stories. Reserve, and Print Temple ordinances.  
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), family_search_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.familysearch.org', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("ancestry_logo.png", class: "img-responsive img-center"), ancestry_path %>
<p>
  Ancestry.com is a resource to build your own tree, collaborate with others, great search records tool.  Free to LDS Members. Offers 14 billion global historical records and integration with FamilySearch Family Tree. Go to familysearch.org/partneraccess for details and to sign up
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), ancestry_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.ancestry.com', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("find_my_past_logo.png", class: "img-responsive img-center"), find_my_past_path %>
<p>
  FindMyPast.com is a resource to build your own tree. Specializing in the United Kingdom and its many historical colonies, with records going back to AD 875. Free to LDS Members. Go to familysearch.org/partneraccess for details and to sign up
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), find_my_past_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.findmypast.com', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("my_heritage_logo.png", class: "img-responsive img-center"), my_heritage_path %>
<p>
  MyHeritage.com is a resource to build your own tree and search records. Free to LDS Members. Providing family tree tools, unique matching technologies, and European records in 40 languages. Go to familysearch.org/partneraccess for details and to sign up.
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), my_heritage_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.myheritage.com', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("american_ancestors_logo.png", class: "img-responsive img-center"), american_ancestors_path %>
<p>
  AmericanAncestors.org allows you to search New England and Early American records. Focusing on MAerican family history, from 17th-century colonial New England through 21st-century immigration research. Free to LDS Members. Go to familysearch.org/partneraccess
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), american_ancestors_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.americanancestors.org', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("puzzilla_logo.png", class: "img-responsive img-center"), puzzilla_path %>
<p>
  Puzzilla.org let's you sign in to your FamilySearch account. Interfaces with FamilySearch. Free, used to find end of line for both ancestors and descendants. Great to find a starting place to search.
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), puzzilla_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.puzzilla.org', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("pandoras_hope_chest_logo.png", class: "img-responsive img-center"), hope_chest_path %>
<p>
  Hope Chest (for personal laptops and desktops, not IPADS) Is a Chrome extension. Must be used with Chrome. Best for finding ancestors and descendants already in familysearch that may need ordinance’s done. PLEASE MAKE SURE YOU CHECK FOR DUPLICATES WHEN USING HOPE CHEST.
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), hope_chest_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Install in Chrome'), 'https://chrome.google.com/webstore/detail/pandoras-hope-chest/gjneklbanpnnjdeddbnkkgeljkhpblhp?hl=en', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("findagrave_logo.png", class: "img-responsive img-center"), find_a_grave_path %>
<p>
  FindAGrave.com is best used for finding photos of headstones, some have addition information, can look by person or do a cemetery lookup. Free with options to pay for more services.
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), find_a_grave_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.findagrave.com', class: 'btn btn-info' %>
</div>

<hr/>

<%= link_to image_tag("billiongraves_logo.png", class: "img-responsive img-center"), billion_graves_path %>
<p>
  BillionGraves.com is best used for finding photos of headstones, some have additional information. Best of all, it's free!
</p>
<div class="text-center" style="margin-top: 15px;">
  <%= link_to fa_icon('book', text: 'View Guides'), billion_graves_path, class: 'btn btn-success' %>
  <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.billiongraves.com', class: 'btn btn-info' %>
</div>
