<h2 class="blog-title">How To Family Search</h2>
<p class="lead blog-description">A list of Family History Resource Tools</p>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("family_search_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%#= link_to fa_icon('book', text: 'View Guides'), family_search_path, class: 'btn btn-success btn-block' %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.familysearch.org', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p>
      <%= link_to "FamilySearch.org", "https://familysearch.org" %> is a free LDS church family history website.
    </p>
    <ul>
      <li>Build a collaborating tree</li>
      <li>Search and add sources, photos and stories</li>
      <li>Reserve and print Temple ordinance cards</li>
    </ul>
    <p>Free to LDS members at <%= link_to "https://familysearch.org", "https://familysearch.org" %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("ancestry_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%#= link_to fa_icon('book', text: 'View Guides'), ancestry_path, class: 'btn btn-success btn-block' %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.ancestry.com', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p>
      <%= link_to "Ancestry.com", "http://www.ancestry.com" %> offers access to 14 billion global historical records
    </p>
    <ul>
      <li>Build your own tree</li>
      <li>Collaborate with others</li>
      <li>Easily search records and documents</li>
      <li>Mobile applications</li>
    </ul>
    <p>Free to LDS members at <%= link_to "https://familysearch.org/partner/ancestry", "https://familysearch.org/partner/ancestry" %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("find_my_past_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%#= link_to fa_icon('book', text: 'View Guides'), find_my_past_path, class: 'btn btn-success btn-block' %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.findmypast.com', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p>
      <%= link_to "FindMyPast.com", "http://www.findmypast.com" %> lets you discover your ancestors in Britain, Ireland and beyond.
    </p>
    <ul>
      <li>Explore exclusive records not found on other websites</li>
      <li>Benefit from expertise in British and Irish geneology</li>
      <li>Accurate records, easily searchablements</li>
    </ul>
    <p>Free to LDS members at <%= link_to "https://familysearch.org/partner/findmypast", "https://familysearch.org/partner/findmypast" %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("my_heritage_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%#= link_to fa_icon('book', text: 'View Guides'), my_heritage_path, class: 'btn btn-success btn-block' %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.myheritage.com', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p><%= link_to "MyHeritage.com", "http://www.myheritage.com" %> lets you discover, preserve and share your family history.</p>
    <ul>
      <li>Create your online family tree</li>
      <li>Search and add sources, photos and stories</li>
      <li>Mobile and Desktop applications (including Family Tree Builder)</li>
    </ul>
    <p>Free to LDS members at <%= link_to "https://familysearch.org/partner/myheritage", "https://familysearch.org/partner/myheritage" %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("american_ancestors_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%#= link_to fa_icon('book', text: 'View Guides'), american_ancestors_path, class: 'btn btn-success btn-block' %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.americanancestors.com', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p><%= link_to "AmericanAncestors.org", "http://www.americanancestors.com" %> strives to advance the study of family history in America.</p>
    <ul>
      <li>Search New England and Early American records</li>
      <li>Focus on American family history from 17th Century colonial New England through 21st Century Immigrants</li>
    </ul>
    <p>Free to LDS members at <%= link_to "https://familysearch.org/partner/americanancestors", "https://familysearch.org/partner/americanancestors" %></p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("find_a_record_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.findarecord.com', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p><%= link_to "FindARecord.com", "http://www.findarecord.com" %> helps you instantly find research opportunities in your FamilyTree search.</p>
    <ul>
      <li>100% Free</li>
      <li>Powerful, easy to use 'Research Assistant'</li>
      <li>Includes a <%= link_to "Google Chrome extension", "https://www.findarecord.com/help/browser-extensions" %></li>
    </ul>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("puzzilla_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.puzzilla.org', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p><%= link_to "Puzzilla.org", "http://www.puzzilla.org" %> lets you find new research opportunities on descendant lines in FamilyTree.</p>
    <ul>
      <li>Visually discover end lines for ancestors and descendents</li>
      <li>Excellent starting point for new researchers</li>
    </ul>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("pandoras_hope_chest_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%= link_to fa_icon('external-link', text: 'Install in Chrome'), 'https://chrome.google.com/webstore/detail/pandoras-hope-chest/gjneklbanpnnjdeddbnkkgeljkhpblhp?hl=en', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p><strong>Hope Chest</strong> is a Chrome extension that helps users of the FamilySearch.org website.</p>
    <ul>
      <li>Find ancestors and descendents already in FamilySearch.org that may need ordinances done.</li>
      <li>Please make sure you check for duplicates when records are found.</li>
    </ul>
    <p>Go to <%= link_to "http://goo.gl/0kZtB4", "http://goo.gl/0kZtB4" %> using your Google Chrome browser (desktop only)</p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("findagrave_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.findagrave.com', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p><%= link_to "FindAGrave.com", "http://www.findagrave.com" %> - search graves of thousands of famous people from around the world.</p>
    <ul>
      <li>Search and upload photos and stories</li>
      <li>Send <em>e-flowers</em></li>
    </ul>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag("billiongraves_logo.png", class: "img-responsive img-center", style: "margin-bottom: 15px;") %>
    <%= link_to fa_icon('external-link', text: 'Visit Website'), 'http://www.billiongraves.com', class: 'btn btn-link btn-block' %>
  </div>
  <div class="col-sm-8">
    <p><%= link_to "BillionGraves.com", "http://www.billiongraves.com" %> is a free website to look up headstone photos around the world.</p>
    <ul>
      <li>Volunteer driven website</li>
      <li>Easily searchable, provides maps</li>
    </ul>
  </div>
</div>
