<%= form_for [:admin, @episode] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :youtube_id %>
    <%= f.text_field :youtube_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :permalink %>
    <%= f.text_field :permalink, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: 8 %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control", rows: 8 %>
  </div>
  <div class="form-group">
    <%= f.label :published_at %>
    <%= f.datetime_select :published_at, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :seconds %>
    <%= f.text_field :seconds, class: "form-control" %>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  or <%= link_to "Cancel", admin_episodes_path %>
<% end %>
